##Question 1:
Assuming that we have some email addresses in the `"username@companyname.com"` format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
>**Input Format:**
The first line of the input contains an email address.

>**Output Format:**
Print the company name in single line.

**Example:**
>Input:
`john@google.com`

>Output:
`google`

In [1]:
name,company=input("Enter your company mail: ").split('@')
company[:-4]

Enter your company mail: Cherry@Google.com

'Google'

##Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
>**Input Format:**
The first line of input contains words separated by the comma.

>**Output Format:**
Print the sorted words separated by the comma.

**Example:**
>Input:
`without,hello,bag,world`

>Output:
`bag,hello,without,world`

In [38]:
words=list (input('Enter the list of words: ').split(','))
sorted(words)

Enter the list of words: without,hello,bag,world

['bag', 'hello', 'without', 'world']

##Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

### Solution
>A set is a collection which is unordered and unindexed.

>In Python sets are written with curly brackets.

#### **Access Items**
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [3]:
sets={'A','B','C','D','E'}

[ele for ele in sets]

['A', 'C', 'D', 'B', 'E']

### **Change Items** 
Once a set is created, you cannot change its items, but you can add new items.

###**Add Items**
To add one item to a set use the `add()` method.

To add more than one item to a set use the `update()` method.

In [4]:
sets.add('F')
sets

{'A', 'B', 'C', 'D', 'E', 'F'}

In [5]:
sets.update(['G','H','J'])
sets

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J'}

### **Get the Length of a Set**
To determine how many items a set has, use the `len()` method.

In [6]:
len(sets)

9

### **Remove Item**
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [7]:
sets.remove('B')
sets

{'A', 'C', 'D', 'E', 'F', 'G', 'H', 'J'}

In [8]:
# removing a non-existant item using remove() from set will throw error 
sets.remove('K')

KeyError: ignored

In [9]:
sets.discard('G')
sets

{'A', 'C', 'D', 'E', 'F', 'H', 'J'}

In [10]:
# removing a non-existant item using discard() from set will throw error 
sets.discard('B')

>You can also use the `pop()`, method to remove an item, but this method will remove the last item.

>Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

In [11]:
var=sets.pop()
print(var,"\n",sets)

A
 {'C', 'D', 'J', 'H', 'F', 'E'}

### **Join Two Sets**
>There are several ways to join two or more sets in Python.

>You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another.

>Both `union()` and `update()` will exclude any duplicate items.

>There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.

In [12]:
#using union() method
sets1={1,2,3,4,5}
sets2=sets.union(sets1)
sets2

{1, 2, 3, 4, 5, 'C', 'D', 'E', 'F', 'H', 'J'}

In [15]:
#using update() method
sets3=sets1.update(sets2)
sets3


###**The set() Constructor**
It is also possible to use the `set()` constructor to make a set.

In [16]:
newset=set(('N','M','G'))
newset

{'G', 'M', 'N'}

###**Set Methods**

In [17]:
#creating set
RollNo={10,20,30,50,60,70}
print(RollNo)

{70, 10, 50, 20, 60, 30}

In [18]:
#add method - Adds an element to the set
RollNo.add(90)
print(RollNo)

{70, 10, 50, 20, 90, 60, 30}

In [19]:
#copy method - Returns a copy of the set
RegNum=RollNo.copy()
print(RegNum)

{50, 20, 90, 70, 10, 60, 30}

In [20]:
#discard method - Remove the specified item
RegNum.discard(70)
print(RegNum)

{50, 20, 90, 10, 60, 30}

In [21]:
#clear method - Removes all the elements from the set
RollNo.clear()
print(*RollNo)

In [22]:
#difference method - Returns a set containing the difference between two or more sets
Nums=set({1,2,3,4,6,7,8})
Nums2=set({2,4,6,8,0})
Diff=Nums.difference(Nums2)
print(Diff)

{1, 3, 7}

In [23]:
#pop method - Removes an element from the set
print(Nums2.pop())
print(Nums2)

0
{2, 4, 6, 8}

In [24]:
#remove method - Removes the specified element
print(Nums2.remove(8))
print(Nums2)

None
{2, 4, 6}

In [25]:
#difference_update method - Removes the items in this set that are also included in another, specified set
A={'abc','xyz','ghi'}
B={'ghi','mno','rst'}
A.difference_update(B)
print(A)

{'abc', 'xyz'}

In [26]:
#intersection method - Returns a set, that is the intersection of two other sets
A={'abc','xyz','ghi'}
B={'ghi','mno','rst'}
X=A.intersection(B)
print(X)

{'ghi'}

In [27]:
#intersection_update method - Removes the items in this set that are not present in other, specified set(s)
A.intersection_update(B)
print(A)

{'ghi'}

In [28]:
#isdisjoint method - Returns whether two sets have a intersection or not
A={'abc','xyz','ghi'}
B={'ghi','mno','rst'}
A.isdisjoint(B)

False

In [29]:
#union method - Return a set containing the union of sets
Y=A.union(B)
print(Y)

{'xyz', 'mno', 'ghi', 'abc', 'rst'}

In [30]:
#issubset method - Returns whether another set contains this set or not
A.issubset(B)

False

In [31]:
#issuperset method - Returns whether this set contains another set or not
A.issuperset(B)

False

In [32]:
#update method - Update the set with the union of this set and others
A.update(Y)
print(A)

{'mno', 'ghi', 'abc', 'rst', 'xyz'}

In [33]:
#symmetric_differeence method - Return a set that contains all items from both sets, except items that are present in both sets
A={'abc','xyz','ghi'}
B={'ghi','mno','rst'}
Z=A.symmetric_difference(B)
print(Z)

{'xyz', 'abc', 'rst', 'mno'}

In [34]:
#symmetric_differeence_update method - Remove the items that are present in both sets, AND insert the items that is not present in both sets
A={'a','b','c','d','e'}
B={'d','e','f','g','h'}
A.symmetric_difference_update(B)
print(A)

{'b', 'c', 'a', 'h', 'g', 'f'}

##Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

>**Input Format:**
The first line contains n-1 numbers with each number separated by a space.

>**Output Format:**
Print the missing number

**Example:**
>Input:`1 2 4 6 3 7 8`

>Output:`5`

**Explanation:**
In the above list of numbers 5 is missing and hence 5 is the input

In [36]:
test_list = [1,2,4,6,3,7,8] 
  
# printing original list 
print("The original list : " + str(test_list)) 
  
# Using set() 
# Finding missing elements in List 
res = list(set(range(1,max(test_list) + 1)) - set(test_list)) 
  
# print result 
print("The list of missing elements : " + str(res))

The original list : [1, 2, 4, 6, 3, 7, 8]
The list of missing elements : [5]

##Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

**Example:**
>If the input list is *12 24 35 24 88 120 155 88 120 155*

>Then the output should be *12 24 35 88 120 155*

**Explanation:**
Third, seventh and ninth element of the list L has been removed because it was already present.
>**Input Format:**
In one line take the elements of the list L with each element separated by a space.

>**Output Format:**
Print the elements of the modified list in one line with each element separated by a space.

**Example:**
>Input: `12 24 35 24`

>Output:
`12 24 35`

In [35]:
mylist = input("Enter the number sequence: ").split()
mylist = list (dict.fromkeys(mylist))
print(*mylist)

Enter the number sequence: 12 24 35 24
12 24 35