1. Write a program to subtract two complex numbers in Python.

In [ ]:
num1,num2=input("Enter two complex numbers: ").split(',')
print(complex (num1)-complex (num2))

Enter two complex numbers: 3+6j,6+9j
(-3-3j)

2. Write a program to find the fourth root of a number

In [40]:
num=int (input("Enter your number: "))
print(num**(1/4))

Enter your number: 16
2.0

3. Write a program to swap two numbers in Python with help of a temporary variable.

In [39]:
a,b=33,66
print(f"Before Swapping\na = {a}, b = {b}")
c,a,b=a,b,c
print(f"After Swapping\na = {a}, b = {b}")

Before Swapping
a = 33, b = 66
After Swapping
a = 66, b = 33

4. Write a program to swap two numbers in Python using without a temporary variable.

In [37]:
x,y=33,66
print(f"Before Swapping\nx = {x}, y = {y}")
x,y=y,x
print(f"After Swapping\nx = {x}, y = {y}")

Before Swapping
x = 33, y = 66
After Swapping
x = 66, y = 33

5. Write a program to convert farenheit to Kelvin and celsius both.

In [38]:
F=int (input("Enter temperature in Farenheit: "))
K,C = int (273.5 + ((F - 32.0) * (5.0/9.0))),int (((F - 32) * (5/9))) 
print(f"Temperature in Kelvin: {K}째\n Temperature in Celsius: {C}째")

Enter temperature in Farenheit: 99
Temperature in Kelvin: 310째
 Temperature in Celsius: 37째

6. Write a program to demonstrate all the available data types in Python.

In [28]:
name,num,decimal,comp=input("Enter your variables: ").split(',')
num,decimal,comp=int (num),float (decimal),complex (comp)
lst,tpl,dct=['a','b','c'],('d','e','f'),{1:'c',2:'h',3:'e',4:'r',5:'r',6:'y'}
print("Variables :",name,num,decimal,comp,lst,tpl,dct,"\n","Type :",type (name),type (num),type (decimal),type (comp),type (lst),type (tpl),type (dct))

Enter your variables: Cherry,66,99.9,6+9j
Variables : Cherry 66 99.9 (6+9j) ['a', 'b', 'c'] ('d', 'e', 'f') {1: 'c', 2: 'h', 3: 'e', 4: 'r', 5: 'r', 6: 'y'}
 Type : <class 'str'> <class 'int'> <class 'float'> <class 'complex'> <class 'list'> <class 'tuple'> <class 'dict'>